.appointemnt{


display: flex;
flex-direction: column;
justify-content: center;
align-content: center;
align-items: center;

}
.calendarLayout
{
    gap: 20%;
    display: flex;
    justify-content: center;
    width: 100%;
}
.time
{
width:350px !important;   
 display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    align-content: start;
    justify-content: space-between;
    gap: 5%;
}