.appointmentCard{

  width :330px;
  background-color: rgb(255, 255, 255);
  text-align: left;
  padding: 10pX;
  margin: 5px;
 box-shadow: 0 10px 28px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  margin-top: 2%;

  /* NEW */
  animation: fadeUp 0.6s ease both;
  transition:
    transform 0.35s ease,
    box-shadow 0.35s ease;
    border-radius: 10px;
}
.checked
{
color: white;
  background-color: #f2b0b4ce !important;
}
.checked p{
  color: white;
}