.react-calendar__tile--active
{
    background-color: #f2b0b492 !important;
}

.react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus{
      background-color: #f2b0b492 !important;
}