.bookCard{

    display: flex;
    justify-content: end;
    background-color: #f6f9f9 !important;
    height: 441px;
    margin-top: 200px;
}
.bookCard h2{
    font-family: "Playfair Display", serif;
    color: #252525;
    line-height: 1.3;
    font-weight: 400;
    font-size: 48px;
    display: block;
    margin-bottom: 30px;
}
.item{
    width: 40%;
}
.second{
    background: url("cta.png");
    background-size: cover;
    width: 40%;

}
