 .buttonStyle{
    background-color: #bca858;
     font-size: 16px;
    font-weight: 400;
    color:white;
    width: 40%;
    align-self: center;
    border-radius: 20px;
    box-shadow: 1px 1px 1px rgb(220, 216, 216);
    font-family: "Playfair Display", serif;
    margin-top: 50px;
}

.buttonStyle:hover{
    background-color: black;
}
