.card{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;

}
.titlestyle 
{
    font-family: "Playfair Display", serif;
    color: #252525;
    line-height: 1.3;
    font-weight: 400;
}
.titlestyle h3 
{
    width:200px;
}

.contentStyle{

    line-height: 1.7;
    color: #6e6e6e;
    font-size: 16px;
    font-weight: 400;

}
.card button{
    background-color: #bca858;
     font-size: 16px;
    font-weight: 400;
    color:white;
    width: 40%;
    align-self: center;
    border-radius: 20px;
    box-shadow: 1px 1px 1px rgb(220, 216, 216);
    font-family: "Playfair Display", serif;
}
.card button:hover
{
    background-color: #252525;
}
.mt{
    margin-top: -100px !important;
}