.footerStyle{
    display: flex ;
margin-top: 50px;
justify-content: space-evenly;
text-align: left;


}
.footerStyle div 
{  padding: 10px;
    width: 20%;
    height: 300px;
    
}
.footerStyle h4 
{
    font-size: 22px;
    color: #252525;
    margin-bottom: 30px;
    display: block;
    text-transform: capitalize;
    font-family: "Playfair Display", serif;

}
.socialInfo{
    width:80% !important;
    align-self: center !important;
    display: flex;
    justify-content: start;
    gap : 20%;
    height: 50px !important;
    margin-top: 50px;
}
i{
    height: 50px;
    font-size: 24px;
}