.headingSection
{
    font-family:"Playfair Display", serif;

}
.headingSection h2
{
        font-size: 42px;
    text-transform: capitalize;
    margin-bottom: 15px;
    display: block;
    line-height: 1.2;
}
.headingSection p 
{line-height: 1.7;
    color: #6e6e6e;
    font-size: 16px;
    font-weight: 400;

}