.layout
{
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
}
.toolImage
{
    box-shadow: 3px 3px 3px solid black;
}
.item
{
    width: 25%;
    position: relative;
}
.item:hover 
{
        transform: scale(1.02) !important;

}
.item span {
    position: absolute;
    font-weight: 900;
    left: 1px;
    font-size: 90px;
    top: 10px;
    z-index: 1;
    opacity: 0.4;
color :     #e1ded7;

}
.aboutSection{
    font-family: "Playfair Display", serif;
    color: #252525;
    line-height: 1.7;
    font-weight: 400;
    z-index: 99999;
}
.item img{
 box-shadow: 3px 3px 3px #dbcac2;
}

.aboutSection h2
{
    font-size: 42px;
    text-transform: capitalize;
    margin-bottom: 15px;
    display: block;
    line-height: 1.2;
}
.aboutSection
{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.fadeInUp {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.fadeInUp.active {
  opacity: 1;
  transform: translateY(0);
}
