
    .navBar{

display: flex;
 margin-left: 08%;
 align-items: center;
 align-content: center;
 height: 50px;
 gap: 10%;

}
.navBar a{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.navBar a:hover{
    color: #bba97f;
}
